<<<<<<<< HEAD:hidl/biometrics/fingerprint/android.hardware.biometrics.fingerprint@2.1-service.pyrite.rc
service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.pyrite
========
service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.3-service.xiaomi
>>>>>>>> c3f110d (hidl: biometrics: fingerprint: Move fingerprint HIDL to 2.3):hidl/biometrics/fingerprint/android.hardware.biometrics.fingerprint@2.3-service.xiaomi.rc
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
